<div class="title-content">
  <h2 class="title">All Superpowers</h2>
</div>

<div class="main-content">
  <div class="item-list">
    <ul>
      <% @powers.each do |power| %>
        <li><%= link_to power.display_name, power %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="action-items">
    <%= link_to "View All Heroines", heroines_path %>
  </div>
</div>