<div class="title-content">
  <h2>All Heroines</h2>
</div>

<div class="main-content">
  <div class="item-list">
    <ul>
      <% @heroines.each do |heroine| %>
        <li><%= link_to heroine.super_name, heroine %></li>
      <% end %>
    </ul>
  </div>

  <div class="action-items">
    <%= link_to "Create a new Heroine", new_heroine_path %>
  </div>
</div>