<div class="title-content">
  <h2>All Heroines</h2>
</div>

<div class="main-content">
  <ul><% @heroines.each do |heroine| %>
      <li><%= link_to heroine.super_name, heroine %></li>
  <% end %></ul>
</div>
