<div class="title-content">
  <h2><%= @heroine.super_name %></h2>
</div>

<div class="main-content">
  <ul class="details">
    <li class="detail">
      <span class="detail-key">Name</span>
      <span class="detail-value"><%= @heroine.name %></span>
    </li>
    <li class="detail">
      <span class="detail-key">Power</span>
      <span class="detail-value"><%= link_to @heroine.power_name.titleize, @heroine.power %></span>
    </li>
  </ul>

  <div class="action-items">
    <%= link_to "Back to All Heroines", heroines_path %>
  </div>
</div>