/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  padding: 0 10px;
}

/*
 * Core/Layout
 */

.title-content {

}

.title-content .title {
  margin-bottom: 8px;
}

.main-content {

}

.action-items {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.action-items a {
  display: inline-block;
  margin-right: 6px;
}

.action-items a, .action-items a:visited {
  color: rgb(0, 0, 238);
}

/*
 * Components
 */

.item-list {

}

.item-list ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.item-list ul > li {
  margin: 0;
  padding: 0;
}

.item-list-title {
  margin-bottom: 4px;
}

.item-list-title.empty {
  opacity: 0.3;
}

.details {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.detail {
  margin: 0;
  padding: 0;
}

.detail-key, .detail-value {
  display: inline-block;
}

.detail-key {
  /* font-style: italic; */
  font-weight: light;
}

.detail-value {
  font-weight: bold;
}

/*
 * Forms
 */

.form-field {
  margin-bottom: 10px;
}

.form-field > * {
  display: inline-block;
}

.form-errors {
  padding: 5px;
  margin-bottom: 6px;
  background: hsl(4, 100%, 95%);
}

.form-errors h4, .form-errors ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.form-errors h4 {
  font-size: 14px;
  margin-bottom: 4px;
}

.field_with_errors label, .field_with_errors input {
  border-color: red;
}